<h1><a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>Info</h1>
<h2>Nerd:</h2>
<p>Damion M Broadaway</p>
<h2>Hangout:</h2>
<button class="command-button primary">
  <i class="icon-phone on-left"></i>
  <a href="http://hangouts.google.com/start" target="_blank">Join me...in the virtual world.</a>
  <small>Fix your hair first.</small>
</button>
<h2>Repo:</h2>
<p><a href="https://github.com/damionbroadaway/TheNerdeteria">https://github.com/damionbroadaway/TheNerdeteria</a></p>
<h2>Ruby Training Module:</h2>
<p>1 and some change</p>