<!DOCTYPE html>
<html>
<head>
  <title>TheNerdeteria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="metro">
<div class="container">
  <nav class="navigation-bar">
    <div class="navigation-bar-content">
      <a href="/" class="element"><span class="icon-grid-view"></span> Nerdery University<sup>Q2</sup></a>
      <span class="element-divider"></span>

      <a class="pull-menu" href="#"></a>

      <div class="no-tablet-portrait">
        <span class="element-divider"></span>
        <div class="element place-right">
          <a href="/info">
            <span class="icon-cog fg-white"></span>
          </a>
        </div>
        <span class="element-divider place-right"></span>
        <button class="element image-button image-left place-right">
          <a href="http://nerdery.com/Vd" target="_blank">
            Damion M Broadaway
            <img src="http://nerdery.com/system/nerds/normal/vd.png?1357836219">
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="grid">
    <div class="row">
      <div class="span3">
        <nav class="sidebar light">
          <ul>
            <li class="title">New</li>
            <li class="active"><a href="#"><i class="icon-home"></i>Menu Item</a></li>
            <li class="stick bg-red"><a href="#"><i class="icon-cog"></i>Restaurant</a></li>
            <li class="stick bg-green"><a href="#">Menu Item Category</a></li>

            <li class="title">View</li>
            <li><a href="#">Other Item 1</a></li>
            <li><a href="#">Other item 2</a></li>
            <li><a href="#">Other item 3</a></li>

          </ul>
        </nav>
      </div>
      <div class="span9"><%= yield %></div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>