<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_item_catergory.name %>
</p>

<%= link_to 'Edit', edit_menu_item_catergory_path(@menu_item_catergory) %> |
<%= link_to 'Back', menu_item_catergories_path %>
